body {
  background: url('./../../resources/images/green_cup.png');
}

h1, h3, h2, h4, p {
  color: #6E4F3C;
}

h1 {
  text-align: center;
}

p {
  margin-left: 8px;
  margin-top: -5px;
  font-size: 14px;
}

h3 {
  display: inline-block;
}

h4 {
  margin-top: 30px;
}

.foodItem {
  margin-top: 13px;
  margin-bottom: 13px;
}

.foodItem:hover {
  cursor: pointer;
}

#healthPipe {
  width: 250px;
  margin-bottom: 15px;
  margin-top: 30px;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  border-color: #6E4F3C;
}

.totalCalories {
  display: inline-block;
  width: 40%;
  float: right;
}

.foodList {
  width: 60%;
}

.weekDay {
  width: 13.6%;
  float: left;
  text-align: center;
  border: 2px solid #6E4F3C;
  border-radius: 15px;
  margin-right: 0.4%;
  background-color: #62905f;
  height: 35px;
  font-size: 20px;
}

.weekDay:hover {
  cursor: pointer;
  background-color: #66c05a;
}

.selected {
  border: 2px solid #62905f;
  background-color: #6E4F3C;
  color: white;
}

.selected:hover {
  border: 2px solid #62905f;
  background-color: #7C604F;
  color: white;
  cursor: pointer;
}

.btn-primary {
  background-color: #62905f;
}
